@media(max-width:800px){
    .nav-container{
        margin: 0px;
        width: 100%;
    }
    .section1-container{
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .menu{
        display: inline-block !important;
        background-color: inherit;
        color: white;
        border: 1px solid white;
        padding: 10px 20px;
        border-radius: 20px;
    }
    .nav-item1{
        width: 350%;
    }
    .nav-item2{
        display: none;
    }
    .nav-container{
        display: flex;
        justify-content: space-between !important;
    }
    
    .nav:hover .nav-item2{
        display: inline;
        position: absolute;
        background-color: white;
        left: 0px;
        right: 0px;
        top: 50px;
        z-index: 2;
    }
    .section1-content1{
        display:block !important;
       width: 90%;
       margin: 10px;
    }
    .section1-content2{
        display: block !important;
        width: 100%;
        margin: 0px 10px;
    }
    .section1-content2b{
        display: block !important;
       
    }
    .section1-content2a{
        display: block;
        width: 95%;
        /* margin: 0px 20px 0px 0px; */
    }
    .section1-content2ba{
        display: block;
        width: 95%;
        /* margin-right: 10px; */
    }
    .section1-content2bb{
        display: block;

        width: 95%;
        margin: 10px 10px 0px 5px;
    }
}
